 html,
 body {
     height: 100%;
     margin: 0;
 }
 
 #header {
     text-align: center;
 }
 
 .container-xxl {
     width: 2190px;
 }
 
 .tooltip-table {
     display: table;
     width: 160px;
     border-collapse: collapse;
 }
 
 .tooltip-style {
     font-family: "Open Sans", verdana, arial, sans-serif;
     font-size: 12px;
     fill: rgb(68, 68, 68);
     fill-opacity: 1;
     white-space: pre;
 }
 
 .tooltip-row {
     display: table-row;
 }
 
 .tooltip-value,
 .tooltip-label {
     display: table-cell;
     padding: 0.3em;
 }
 
 .tooltip-label {
     font-weight: bold;
 }