name: Assets
on: [pull_request]
jobs:
  check-assets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: internal/static/.nvmrc
      - uses: actions/setup-go@v6
      - run: npm install
        working-directory: internal/static
      - run: npm run build
        working-directory: internal/static
      - name: Check assets zip is up to date
        run: ./internal/static/scripts/checkzip.sh
