on: [push, pull_request]
name: Tests-linux
jobs:
  tests-linux:
    strategy:
      matrix:
        go-version: [1.24.x, 1.25.x, tip]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
      - name: go mod tidy check
        run: go mod tidy -diff
      - name: Tests
        run: go test -race -shuffle=on ./...
