on: [push, pull_request]
name: Test
jobs:
  assets:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15.x
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Assets
      # Regenerating assets should only change the modtime
      # of embedded files and nothing else
      run: ${GITHUB_WORKSPACE}/.github/scripts/check_assets.sh
      shell: sh
      if: github.base_ref == 'master'
  test:
    strategy:
      matrix:
        go-version: [1.13.x, 1.14.x, 1.15.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Vet
      run: go vet ./...
    - name: Test and Coverage
      run: go test -race -coverprofile=coverage.txt -covermode=atomic && bash <(curl -s https://codecov.io/bash)
    - name: Build examples
      run: ${GITHUB_WORKSPACE}/.github/scripts/build_examples.sh
      shell: sh
