on: [push, pull_request]
name: Tests-linux
jobs:
  tests-linux:
    strategy:
      matrix:
        go-version: [1.23.x, 1.24.x, 1.25.x]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: go mod tidy check
        run: go mod tidy -diff
      - name: Tests
        run: go test -race -shuffle=on ./...
